.PostWrapper{
    font-family: 'Roboto', sans-serif;
    color: var(--main-text);
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    padding: 3% 5%;
    border-radius: 25px;
    background-color: var(--background-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .leftPart{
            display: flex;
            flex-direction: row;
            align-items: center;
            grid-gap: 35px;

            .whoPosted{
                display: flex;
                flex-direction: column;

                .mobileGraphName{
                  font-size: 17px;
                }

    
                span:nth-child(1) {
                    font-weight: 400;
                }
    
                span:nth-child(2) {
                    font-size: 15px;
                }
            }

            // Кнопка подписаться \ отписаться
            .subscriptionButton {
                padding: 8px 16px; 
                border: none; 
                border-radius: 6px; 
                font-size: 14px; 
                font-weight: 500; 
                cursor: pointer; 
                transition: background-color 0.3s ease, transform 0.2s ease; // Плавные переходы

                // Подписаться
                &.subscribed {
                  background-color: rgba(var(--main-Color), 0.7); // Основной цвет
                  color: white;
              
                  &:hover {
                    background-color: rgba(var(--main-Color), 0.9); // Темнее при наведении
                  }
              
                  &:active {
                    transform: scale(0.98); // Уменьшение при нажатии
                  }
                }
                
                // Отписаться
                &.unsubscribed {
                  background-color: var(--light-main); // Светлый оттенок
                  color: rgba(var(--main-Color), 1);
              
                  &:hover {
                    background-color: rgba(var(--main-Color), 0.2); // Чуть темнее при наведении
                  }
              
                  &:active {
                    transform: scale(0.98); // Уменьшение при нажатии
                  }
                }
              
                &:disabled {
                  background-color: #e0e0e0; // Серый цвет
                  color: #a0a0a0; // Светло-серый текст
                  cursor: not-allowed; // Отключенный курсор
                }
            }

            
            .iconBlock{
              display: flex; /* Используем flexbox */
              justify-content: center; /* Горизонтальное центрирование */
              align-items: center; 

              padding: 11px;
              background-color: var(--light-main);
              border-radius: 10px;
              transition: transform 0.1s ease, background-color 0.1s ease;

              &:active {
                transform: scale(0.95);
                background-color: var(--main-dark);
            }
          }

        }
        

        .buttons{
            display: flex;
            flex-direction: row;
            align-items: center;
            grid-gap: 10px;

            .iconBlock{
              display: flex; /* Используем flexbox */
              justify-content: center; /* Горизонтальное центрирование */
              align-items: center; 

              padding: 11px;
              background-color: var(--light-main);
              border-radius: 10px;

              transition: transform 0.1s ease, background-color 0.1s ease;

              &:active {
                transform: scale(0.95);
                background-color: var(--main-dark);
            }
          }
        }
    }

    .body{
      margin: 20px 0 30px 0;

      span{
        font-size: 20px;
      }
    }

    .imageContainer {
      margin-top: 15px;
      width: 100%; 
      overflow: hidden;
      text-align: center; 
    }
    
    .postImage {
      max-width: 100%; 
      height: auto; 
      display: block; 
      margin: 0 auto; 
      border-radius: 25px;
    }

    .reactionList{
      display: flex;
      flex-direction: row;
      grid-gap: 5px;

      .reactionBlock {
        display: flex;
        align-items: center;
        gap: 6px; 
        padding: 8px 12px; 
        // border: 1px solid rgba(var(--main-Color), 0.2);
        border-radius: 12px; 
        background-color: var(--light-main);
        transition: background-color 0.3s, border-color 0.3s, transform 0.2s;
        cursor: pointer;
      
        &:hover {
          transform: scale(1.05);
          border-color: rgba(var(--main-Color), 0.5);
        }
      
        &.active {
          background-color: rgba(var(--main-Color), 0.35); /* Чуть более яркий фон */
          border-color: rgba(var(--main-Color), 0.8);
      
          .reactionEmoji {
            color: rgb(var(--main-Color));
          }
      
          .reactionCount {
            font-weight: bold;
            color: rgb(var(--main-Color));
          }
      
          .reactionText {
            color: rgb(var(--main-text));
            font-size: 17px;
          }
        }
      
        &.inactive {
          background-color: var(--light-main);
          border-color: rgba(var(--main-Color), 0.2);
      
          .reactionEmoji {
            color: inherit;
          }
      
          .reactionCount {
            color: rgba(var(--main-Color), 0.6);
          }

          .reactionText {
            color: rgb(var(--main-text));
            font-size: 15px;
          }
      
        }
      }
      
      .reactionEmoji {
        font-size: 18px;
        transition: color 0.3s;
      }
      
      .reactionCount {
        font-size: 16px; 
        color: rgba(var(--main-Color), 0.6);
        transition: color 0.3s, font-weight 0.3s;
      }
      
      
      
    }
}

@media only screen and (max-width: 800px) {
  .PostWrapper{
    .body{ 
      span{
        font-size: 19px;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .PostWrapper{
    .body{
      span{
        font-size: 17px;
      }
    }
  }
}

// Блок реакции
@media only screen and (max-width: 600px) {
  .PostWrapper{
    .reactionList{
      .reactionBlock{
        padding: 4px 10px; 

        &.active{
          .reactionEmoji {
            font-size: 14px;
            color: rgb(var(--main-Color));
          }

          .reactionCount {
            font-size: 14px;
          }

          .reactionText {
            font-size: 14px;
          }
        }
    
      }
    }

  }
}
