.slide {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.cardWrapper {
  width: 100%;
  max-width: 680px; // Максимальная ширина EventCard
  position: relative;
  z-index: 1;
}

