.WarningText{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 100vh; /* Растягиваем блок на весь экран */
    margin: 0 auto; /* Центрируем по горизонтали */
    text-align: center; /* Выравниваем текст */
    font-family: 'Roboto', sans-serif;
    color: var(--main-text);
    font-weight: 400;
    font-size: 17px;  
}