:root {
  --main-Color: 150, 130, 238;  /* Тёплый фиолетовый */
  --light-main: rgba(var(--main-Color), .2);

  // --parent-node: rgb(106, 87, 232); /* Основной цвет для родительского узла */
  // --intermediate-node: rgba(89, 76, 169, 0.2); /* Цвет для промежуточного узла */
  // --child-node: rgba(106, 87, 232, 0.1); /* Цвет для дочернего узла */

  --parent-node: #ff6b6b;
  --intermediate-node: #ffcc29;
  --child-node: #1e90ff;

  --google-color: #4285f4;
  --google-hover: #357ae8;

  --popup-bg: rgba(0, 0, 0, 0.5);
  --popup-content-bg: var(--background-color);
  --popup-border-radius: 1.875rem; // 30px в rem
}

html[data-theme="light"] {
  --background-color: #F4F7FF;  /* Светлее */
  --block-color: #FFFFFF;
  --main-text: #333333;  /* Более тёмный текст */

}

html[data-theme="dark"] {
  --background-color: #2A2D33;  /* Немного светлее */
  --block-color: #383B40;
  --main-text: #E0E0E0;  /* Легче */
}

html,
body {
  transition: 1s all ease;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--background-color);

}

*{
  text-decoration: none;
}

// Цвет выделения текста 
::selection {
  background-color: var(--light-main);
  color: var(--main-text); /* Цвет текста при выделении */
}

/* Scrollbar - Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 11px;
}

*::-webkit-scrollbar-track {
  background: rgb(var(--block-color));
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(var(--main-Color), 0.4);
  border-radius: 14px;
  border: 3px solid rgb(var(--block-color));
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--main-Color), 0.2);
}
  