// .selectTopicsWrapper {
//   display: flex;
//   flex-direction: column;
//   width: 100%;
// }

.selectedGraphBlock{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

// Поиск + Кнопка создания графа
.searchAndCreate{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
  
  .searchInput {
    width: 75%;
    padding: 11px;
    border: 2px solid rgba(var(--main-Color), 0.5);
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    margin-bottom: 10px;
    background-color: transparent;
    
    &:focus {
      border-color: rgb(var(--main-Color));
    }
  } 
}

// Существующие графы:
.allowedGraphs{
  font-family: 'Roboto', sans-serif;
  color: var(--main-text);
  font-weight: 400;
  font-size: 17px;  
}

// Выбор графа
.topicsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;

  .topicItem {
    color: white;
    background: rgb(var(--main-Color));
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    
    &:hover {
      background: var(--light-main);
    }
  }
}

.afterSelectGraph{
  display: flex;
  flex-direction: column;
  gap: 20px;

  .selectedGraph{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--main-text);
    font-size: 20px;

    strong{
      color: rgb(var(--main-Color));
    }
  }
}