.graphContainer {
  height: 95%;
  border: 1px dashed rgb(var(--main-Color));
  border-radius: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

// .parent-node{
//   background-color: yellow;
// }



.graphSvg {
  border: 1px solid black;
  width: 80%; /* Настраиваем размер для адаптивности */
  max-width: 100vw;
  height: auto;
}
