.eventsListWrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); // Гибкая сетка
  gap: 30px;
  justify-items: center;
  font-family: 'Roboto', sans-serif;
}

/* Карточка мероприятия */
.eventItem {
    background: #d4edda;
    border-left: 6px solid #28a745;
    padding: 12px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    min-width: 220px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: transform 0.2s ease, box-shadow 0.3s ease, border-color 0.3s ease;
  
    &:hover {
      transform: scale(1.01);
      box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.12);
      border-left: 6px solid #218838;
      background: #c3e6cb;
    }
  }
  
  /* Название события */
  .itemTitle {
    color: #383B40;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  /* Описание */
  .itemDescription {
    font-weight: 400;
    font-size: 16px;
    color: #555;
    margin-bottom: 5px;
  }
  
  /* Время */
  .itemTime {
    font-weight: 500;
    font-size: 15px;
    color: #333;
  }