// Больше 1000px
@media only screen and (min-width: 680px) {
    .PostFeedWrapper{
        padding-top: 25px;
        width: 65%;
        margin: 0 auto;
    }
}

.tabsContainer {
    position: sticky;
    top: 0;
    z-index: 1000; /* Чтобы не перекрывались другими элементами */
    width: 100%;
}