// Названия вкладок
.text{
    font-family: 'Roboto', sans-serif;
    color: var(--main-text);
    font-weight: 300;
    font-size: 18px;
}

// Название + иконка - не нажатый
.listLine{

    text-align: center;
    height: 50px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    border-radius: 30px;

    .icon{
        padding-left: 15px;
    }

    .icon{
        display: flex;
        width: 42px;
        height: 42px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }


    &:hover{
        background-color: rgba(var(--main-Color), .1);
    }
}

// Название + иконка - нажатый
.listLineActive {
    @extend .listLine; 

    .listLine{
        &:hover{
            background-color: rgba(var(--main-Color), .1);
        }
    }

   

    .text {
      color: rgb(var(--main-Color));
    }

}
