.logoutLink {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: rgb(var(--main-Color));
    text-decoration: none;
    font-weight: 300;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
        color: rgba(var(--main-Color), 0.7);
    }
}