.ScheduleWrapper {
  margin: 0 auto;
  overflow-x: hidden;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1200px;

  .warningText {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 100vh;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 768px) {
  .ScheduleWrapper {
    padding: 12px;
  }
}

@media only screen and (max-width: 680px) {
  .ScheduleWrapper {
    width: 98%;
    padding: 8px;
  }
}