.buttonActive{
    padding: 10px 20px;
    background: rgb(var(--main-Color));
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
    
    &:hover {
        background: rgba(var(--main-Color), 0.8);
    }
    
    &:disabled {
        background: #ccc;
        cursor: not-allowed;
    }  
}