.ScheduleItemWrapper {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    color: var(--main-text);

    font-family: 'Roboto', sans-serif;
    color: var(--main-text);
    font-weight: 300;
}

.ScheduleItem{
    display: flex;
    align-items: center;
    gap: 20px;
}

.mainInfo{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

.room{
    padding: 5px 10px;
    border-radius: 12px;
    border: 1px solid #ddd;
    background-color: #f4f4f4;
    text-align: center;
}