.ScheduleItemWrapper {
    padding: 10px;
    background-color: var(--light-main);
    border-radius: 20px;
    color: var(--main-text);

    font-family: 'Roboto', sans-serif;
    color: var(--main-text);
    font-weight: 300;
}

.ScheduleItem{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
}

.mainInfo{
    display: flex;
    flex-direction: column;
    gap: 10px;

    .graphName{
        font-size: 15px;
    }

    .eventName{
        font-size: 20px;
        font-weight: 400;
    }

    .time{
        font-size: 15px;
    }
    
}

.room{
    padding: 10px 20px;
    border-radius: 12px;
    background-color: var(--light-main);
    text-align: center;
}

@media only screen and (max-width: 500px) {


    .icon{
        padding-left: 10px;
    }

    .mainInfo{
        .graphName{
            font-size: 15px;
        }

        .eventName{
            font-size: 18px;
        }

        .time{
            font-size: 15px;
        }
    }


    .room{
        padding: 10px 15px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 400px) {
    .ScheduleItem{
        gap: 10%;
    }

    .mainInfo{
        .eventName{
            font-size: 15px;
        }
    }

    .room{
        padding: 5px 10px;
    }
}