.bottomSidebarWrapper {
  background-color: var(--block-color);
  border-radius: 20px 20px 0 0;
  width: 100%;
  padding: 8px 0;
  box-shadow: 0px 0px 28px 15px rgba(var(--main-Color), 0.05);

  .listMenu {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .listItem {
    display: flex;
  }

  .link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: clamp(10px, 1vw, 12px);
    text-decoration: none;
    color: var(--main-text);
    transition: color 0.3s;

    &:hover,
    &.active {
      color: rgb(var(--main-Color));
    }
  }

  .icon {
    font-size: 20px;
  }
}

// Адаптивность
@media (max-width: 480px) {
  .listMenu {
    gap: 16px;
  }
  
  .link {
    font-size: 12px;
  }

  .icon {
    font-size: 20px;
  }
}
