.ScheduleListWrapper{
    margin-bottom: 70px;

    .dayBlock{
        margin-bottom: 30px;

        .dayofWeek{
            font-family: 'Roboto', sans-serif;
            color: var(--main-text);
            font-weight: 500;
            font-size: 22px;
            color: gray;
        }

        .scheduleItem{
            margin-top: 10px;
        }

        .noSchedule{
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: 18px;
        }
    }

  
}