.ScheduleListWrapper{
    margin-bottom: 70px;

    .titlePage{
        margin-top: 5px;
        display: flex;
        justify-content: center;
        font-family: 'Roboto', sans-serif;
        color: rgb(var(--main-Color));
        font-size: 20px;
        font-weight: 500;
    }

    .dayBlock{
        margin-bottom: 30px;

        .dayofWeek{
            font-family: 'Roboto', sans-serif;
            color: var(--main-text);
            font-weight: 500;
            font-size: 18px;
        }

        .scheduleItem{
            margin-top: 10px;
        }
    }

  
}