.uploadWrapper {
    padding: 10px;
    border: 2px dashed rgba(var(--main-Color), 0.5);
    border-radius: 8px;
    cursor: pointer;
    transition: border 0.3s;
    width: 100%;
    max-width: 400px;
    margin: 10px auto;
    height: 20px;
    text-align: center;
  
    &:hover {
      border-color: rgb(var(--main-Color));
    }
  }
  
  .uploadLabel {
    font-size: 16px;
    color: rgb(var(--main-Color));
    cursor: pointer;
  }
  
  .uploadInput {
    opacity: 0;
    cursor: pointer;
  }
  